<div class="banner-75vh d-flex justify-content-center align-items-center bg-img">
  <div class="text-underline text-brand" id="banner-typed-text"></div>
</div>
<div class="my-grid">
  <% @cocktails.each do |cocktail| %>
  <div class="grid-col">
    <div class="card border" style="width: 18rem; height: 10rem">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body" style="border-radius: 50px">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="btn btn-primary">View the doses</div>
        <% end %>
        <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <div class="btn btn-primary">Delete</div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>

<%= link_to 'New Cocktail', new_cocktail_path %>
