// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.bg-img {
  background-image: asset-url('cocktails-blender.jpg');
  color: white;
  font-size: 50px;
  height: 50vh;
  margin-bottom: 30px;
}
